<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714647490769-iht6r47aq1vl4druupbf03jgrlshugp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714647490769-iht6r47aq1vl4druupbf03jgrlshugp6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>714647490769-3oh035tqau0did4um6h6gn6bf79r3a1m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWoUke6PV_Bh6Kojk7oy2thoaBoOk7-Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>714647490769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zenapppro.therapist.staging</string>
	<key>PROJECT_ID</key>
	<string>utopian-planet-316207</string>
	<key>STORAGE_BUCKET</key>
	<string>utopian-planet-316207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714647490769:ios:06dcb0ac8440ecfad535f0</string>
</dict>
</plist>